TELEGRAM_BOT_TOKEN=token_bot_telegram
TELEGRAM_CHAT_ID=token_chat_id
API_URL=https://weibo.com/ajax/statuses/mymblog
CHECK_INTERVAL=thời gian giữa mỗi lần crawl
PROXY_URL=https://telebot.nhachoc1999.workers.dev
WEIBO_ACCOUNTS=1833963193:洪源 (Hồng Nguyên),1265965213:宋晓军 (Tống Hiểu Quân),7264589101:Giáo sư Kim Xán Vinh (金灿荣教授),1142487595:Sóng Biển Đông (南海浪潮),1638620395:Mục tinh quan hải thiên (牧星观海天),1731011383:Thuyền trưởng Tiểu Tiêu (Captain小潇),7711753752:Đơn thủ tha hạch đạn (单手搓核弹),2672926347:Lyman2003
BLACK_WORDS=你好，再见
weibo_accounts có định dạng một chuỗi các tài khoản, ngăn cách bởi dấu ,
mỗi account có định dạng id:tên, trong đó id lấy từ url của tài khoản

BLACK_WORDS là chuỗi các từ cấm, tức là những bài viết chứa bất cứ từ cấm nào đều không hiển thị ra.
định dạng cơ bản như trên, các từ được ngăn cách bởi dấu , (nếu không dùng đến thì không cần khai báo biến này)

WHITE_WORDS khai báo tương tự BLACK_WORDS, là chuỗi các từ cần có, tức sẽ chỉ hiện thị các bài viết có ít nhất 1 từ trong WHITE_WORDS